<%- include("partials/header"); -%>
<div class="about-wrapper">
    <h1 class="about-heading">Live Weather Application</h1>
    <p class="about-desc">This Application provides you Live and accurate data of Temperature and Weather conditions of your city. You can access weather data of <strong> 200,000+ </strong> Cities all over the <strong>Globe!</strong></p>
</div>


<%- include("partials/footer"); -%>