<%- include("partials/header"); -%>

<div class="contact-wrapper">
    <img src="/images/social.svg" class="contact-main-svg" alt="">
    <div class="contact-images">
        <div class="contact-div"> <a href="https://www.facebook.com/"><img src="/images/facebook.svg" alt="facebook-logo"></a> </div>
        <div class="contact-div"> <a href="https://www.instagram.com/"><img src="/images/insta.svg" alt="istagram-logo"> </a></div>
        <div class="contact-div"><a href="https://www.twitter.com/"> <img src="/images/twitter.svg" alt="twitter-logo"></a> </div>
    </div>
</div>

<%- include("partials/footer"); -%>