<%- include("partials/header"); -%>
<div class="error-handler">
    <img src="/images/not-found.svg" alt="not-found-image" class="error-svg">
    <h1 class="error-message"><%= message %></h1>
</div>

<%- include("partials/footer"); -%>